<%= link_to "Cancel", student_path(session[:user_id]) %><br>
<% flash.each do |type, msg| %>
  <div class="error-message">
    <%= msg %>
  </div>
<% end %>
<h2>New Class List</h2>
<%= render 'form' %>