<%= link_to "Log Out" %>
<h2>Welcome, <%= @student.name %></h2>
<% if @student.list == nil %>
  <h4>It does not appear that you have any scheduled classes</h4>
<% else %>
  <h4>Your Class List</h4>
<% end %>
<div>
  <%= link_to "Create a Class List",  new_student_list_path(@student) %>
  <%= link_to "Edit Class List" %>
</div>