<h1>Welcome, to Class Lister</h1>
<h3>Your #1 trusted school schedule creator</h3>
<div id="sign-in-container">
  <h4>Sign In</h4>
  <a href="">As a Professor</a> or <a href="">As a Student</a>
</div>
<div id="sign-up-container">
  <h4>Sign Up</h4>
  <a href="">As a New Professor</a> or <a href="">As a New Student</a>
</div>