<div id="course-show-container">
  <h2>More Info about <%= @course.name %></h2>
  <h4>Description</h4>
  <p><%= @course.description %></p>
</div>
<button class="link-btn"><%= link_to "Back", :back %></button>