<div class="course-show-header">
  <h2>More Info about <%= @course.name %></h2>
<div>
<div class="course-show-description">
  <h4>Description</h4>
  <p><%= @course.description %></p>
</div>
<button class="link-btn"><%= link_to "Back", student_path(session[:user_id]) %></button>