/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Custom Variables */
 :root {
   --sunset: #FB6542;
   --facebook-blue: rgb(52, 120, 233);
   --mint: #7CF3A0;
   --main-bg-color: #d0fbdd;

 }

/* Reused Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--main-bg-color);
}

a {
  text-decoration: none;
  background: #fff;
}

form {
  background: #fff;
  border-radius: 3px;
}

#form-container {
  width: 65%;
  height: 500px;
  border: 1px solid var(--sunsut);
  margin: 150px auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Application Main Header */
#main-app-header {
  border: 1px solid var(--sunset);
  background: var(--sunset);
  width: 100%;
  height: 70px;
  text-align: center;
}

#main-app-header h2 {
  font-size: 2rem;
  color: #fff;
  margin: 15px 0;
  background: var(--sunset);
}


/* Sign In Form Styles */
 #sign-in-header {
   font-size: 2.25rem;
   transform: translateY(25px);
   margin: 50px 0;
   background: #fff;
   color: #000;
 }

 #form-container #form-header {
   background: #fff;
   font-size: 1.75rem;
   color: #000;
   margin-bottom: 15px;
 }

 #sign-in-form form label {
   background-color: #fff;
   color: #000;
   font-size: 1.25rem;
 }

 #sign-in-form form input {
  background: #fff;
  font-size: 1.10rem;
  margin-bottom: 20px;
  border-radius: 3px;
 }

 #sign-in-form form input[type=submit] {
   font-size: 1rem;
   margin: 15px 0;
   width: 155px;
   height: 25px;
   background: var(--sunset);
   border: none;
   border-radius: 3px;
   color: #fff;
 }

 #oauth-btns-container {
   background: #fff;
 }

 #oauth-btns-container .oauth-btn {
   font-size: 1rem;
   height: 25px;
   border: none;
   border-radius: 3px;
   background: var(--facebook-blue);
   margin-bottom: 20px;
   -webkit-transition: margin 0.5s ease-out;
   -moz-transition: margin 0.5s ease-out;
   -o-transition: margin 0.5s ease-out;
 }

 #oauth-btns-container .oauth-btn a {
   background: var(--facebook-blue);
   color: #fff;
   -webkit-transition: margin 0.5s ease-out;
   -moz-transition: margin 0.5s ease-out;
   -o-transition: margin 0.5s ease-out;
 }
 #sign-in-form form input[type=submit]:hover,
 #oauth-btns-container .oauth-btn:hover {
   cursor: pointer;
   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
 }

 #form-container .sign-up-link {
   text-decoration: none;
   color: #000;
 }

 #form-container .sign-up-link:hover {
   border-bottom: 2px solid var(--mint);
 }

 /* Sign Up Form (new_student_path) */
 #sign-up-form .cancel-btn {
   border: none;
   border-radius: 3px;
   font-size: 1.15rem;
   float: left;
   transform: translateY(15px);
 }

 #sign-up-form .cancel-btn a {
  color: #000;
 }

 #sign-up-form .cancel-btn:hover {
   border-bottom: 2px solid var(--mint);
 }

 #sign-up-form form input {
  background: #fff;
  font-size: 1.10rem;
  margin-bottom: 15px;
  border-radius: 3px;
 }

 #sign-up-form form label {
  background: #fff;
  color: #000;
  font-size: 1.25rem;
}

#sign-up-form form input {
  background: #fff;
  font-size: 1.10rem;
  margin-top: 2px;
  margin-bottom: 15px;
  border-radius: 3px;
 }

 #sign-up-form form input[type=submit] {
  font-size: 1rem;
  margin: 15px 0;
  width: 155px;
  height: 25px;
  background: var(--sunset);
  border: none;
  border-radius: 3px;
  color: #fff;
}

#sign-up-form form input[type=submit]:hover {
  cursor: pointer; 
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

/* Student's Show Page (student_path) */
.log-out-btn {
  border: none;
  font-size: 1.5rem;
  background: var(--sunset);
  color: #fff;
}

.log-out-btn:hover {
  background: #fc9882;
}

#student-show-header {
  font-size: 1.75rem;
  color: #000;
  margin: 15px 25px;
}

#student-class-list-container {
  width: 50%;
  background: #fff;
  margin: 15px 25px;
  border: 1px soild var(--main-bg-color);
} 

#student-class-list-container #student-class-list {
  background: #fff;
  text-decoration: none;
  list-style-type: none;
  margin: 30px 0;
}

#student-class-list-container #student-class-list li {
  background: #fff;
  margin: 30px 5px;
  font-size: 1.15rem;
}

#student-class-list-container #student-class-list li a {
  color: #000;
}

#student-class-list-container #student-class-list li a:hover {
  border-bottom: 2px solid var(--mint);
}

#link-btns-container {
  display: inline-block;
}

.link-btn {
  background: var(--sunset);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.3rem;
  margin: auto 10px;
}

.link-btn a {
  color: #fff;
  background: var(--sunset);
}

.link-btn:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

/* Lists _form Partial */
#lists-partial-container {
  background: var(--main-bg-color);
  margin: 15px 25px;
}

#lists-partial-container #list-header {
  color: #000;
}

#lists-partial-container form {
  background: var(--main-bg-color);
}

#lists-partial-container form input {
  background: var(--main-bg-color);
  font-size: 1.10rem;
  margin-bottom: 15px;
  border-radius: 3px;
}

#lists-partial-container form input[type=submit] {
  font-size: 1rem;
  margin: 15px 0;
  width: 155px;
  height: 25px;
  background: var(--sunset);
  border: none;
  border-radius: 3px;
  color: #fff;
}

#lists-partial-container form input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

#lists-partial-container form .course-link {
  color: #000;
  background: var(--main-bg-color);
  font-size: 1.15rem;
}

#lists-partial-container form .course-link:hover {
  border-bottom: 2px solid var(--sunset);
}

#lists-partial-container h3 {
  font-size: 1.75rem;
  color: #fff;
  margin-bottom: 15px;
}

/* Edit and New list Header (edit_student_list_path and new_student_list_path) */
#list-form-header {
  font-size: 1.75rem;
  color: #000;
  margin: 15px 25px;
}

.search-class-link {
  background: var(--main-bg-color);
  margin-left: 25px;
  color: #000;
}

.search-class-link:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--sunset);
}


/* Course Show Page (course_path) */
#course-show-container {
  background: var(--main-bg-color);
  margin: 15px 25px;
  color: #000;
}

#course-show-container h2 {
  margin-bottom: 20px;
  font-size: 1.75rem;
}

#course-show-container h4 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

/* New Course Page (new_course_path) */
.new-course-container {
  background: var(--main-bg-color);
  margin: 15px 25px;
  color: #000;
}

.new-course-container a {
  background: var(--main-bg-color);
  color: #000;
}

.new-course-container a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--sunset);
}

.new-course-container h2 {
  margin-bottom: 20px;
  font-size: 1.75rem;
}

.new-course-container form {
  background: var(--main-bg-color)
}

.new-course-container form input {
  background: var(--main-bg-color);
  font-size: 1.10rem;
  margin-bottom: 15px;
  border-radius: 3px;
}

.new-course-container form input[type=submit] {
  font-size: 1rem;
  margin: 15px 0;
  width: 155px;
  height: 25px;
  background: var(--sunset);
  border: none;
  border-radius: 3px;
  color: #fff;
}

.new-course-container form input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

/* Courses Index Page (courses_path) */
#courses-container {
  background: var(--main-bg-color);
  margin: 15px 25px;
  color: #000;
}

#courses-container #nav-btns,
#courses-container h2 {
  margin-bottom: 10px;
}

#courses-container p {
  margin-bottom: 3px;
  font-size: 1.05rem;
}

#courses-container form {
  margin-bottom: 5px;
  background: var(--main-bg-color);
}

#courses-container form input[type=text] {
  background: #fff;
  width: 225px;
  height: 25px;
  font-size: 1rem;
  border-radius: 3px;
}

#courses-container form input[type=submit] {
  font-size: 1rem;
  margin: 15px 0;
  width: 100px;
  height: 25px;
  background: var(--sunset);
  border: none;
  border-radius: 3px;
  color: #fff;
}

#courses-container form input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

#courses-container ul {
  list-style: none;
}

#courses-container .course-link {
  background: var(--main-bg-color);
  color: #000;
}

#courses-container .course-link:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--sunset);
}